//====**********************base colors variables*******************//
$primary-color: #2B91D9;
$secondary-color:#fff;
$font-primary:#000000;
$black-color:#000000;
$font-color-grey: #737373;

$bg-color-white:#fff;
$bg-color-white-light:#f5f5f4;
$bg-color-orange:#e88842;
$font-primary-text:#000;


//**************************Primary button colors***************//
$primary-btn-color: #034763;
$primary-btn-bg: #7BD9FF;
$primary-btn-border-color: #3CA2CB;
$primary-btn-active-bg:#61cffb; 
$primary-btn-active-brdr-color:#2486ae; 

//**======primary button disabled button
$primary-btn-disabled-bg: #AFE6FC; 
$primary-btn-disabled-color: #80A2B0; 
$primary-btn-disabled-brdr-color:#90C2D6;



//**************************secondary button********************//
$secondary-btn-color: #3d3d3d;
$secondary-btn-bg: #e1e1e1;
$secondary-btn-border-color: #a3a3a3;
$secondary-btn-active-bg:#d1d1d1; 
$secondary-btn-active-brdr-color:#797979; 
//*******primary button disabled button
$secondary-btn-disabled-bg: #E7E7E7; 
$secondary-btn-disabled-color: #9E9E9E; 
$secondary-btn-disabled-brdr-color:#BBBBBB;



//********************** error for form section******************//
$error:#ce5151;
$success:#4cc24c;
$form-label-fnt: 11px;


//form control variables here
$form-input-color: #333;
$form-input-light-grey: #999999;
$form-input-active-color: #66afe9;
$form-select-list-hover: #fff3e9;
$form-input-border-color: #c9cbcc;


//***********************border color**************************//
$primary-border-color: #DBDBDB;

//**********************background color*************************//
$secondary-bg: #F9F9F9;
$highlight-dark: #2A6993;



//***********************fonts size variable*********************//
$fnt-family-regular: 'open_sansregular';
$fnt-family-bold: 'open_sanssemibold';
$default-font-size : 11px;



//************************table variables************************//
$table-head-bg: #c9e5f3;
$table-head-border-color:#A7C1CE;
$table-head-fnt-color: #235475;

$table-body-border-color: #D8D8D8;
$table-body-font-color: #333;
$table-body-bg-color-even: #f6fcff;
$table-body-bg-color-hover: #fff3e9;

$table-tr-active-color: #FDE1D2;


//***************** tabs variable ******************//
$tab-bg: #009EDD;