$dateClr: #000000;
$dateHeaderClr: #444444;
$iconColor: #454545;
.wrapper-mips {
    .custom-datepicker{
        .p-datepicker{
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            padding: 6px;
            min-width: max-content;
            .p-datepicker-header{
                padding: 4px 0.5rem;
                .p-datepicker-prev{
                    width: 28px;
                    height: 28px;
                    color: #666666;
                    .p-datepicker-prev-icon{
                        font-size: 11px;
                    }
                }
                .p-datepicker-next{
                    width: 28px;
                    height: 28px;
                    color: #666666;
                    .p-datepicker-next-icon{
                        font-size: 11px;
                    }
                }
                .p-datepicker-title{
                    .p-link{
                        font-size: 12px;
                        font-family: 'open_sansregular';
                        color: #444444;
                    }
                }
            } 
            
            //** table content
            table{
                margin-bottom: 0px;
                td {
                    padding: 3px;
                    &> span{
                        width: 32px;
                        height: 32px;
                        font-size: 12px;
                        font-family: 'open_sansregular';
                        font-weight: 100;
                        color:$dateHeaderClr;
                    }  
                }
                th {
                    padding: 6.5px 8px;
                      &> span{
                        font-size: 12px;
                        font-family: 'open_sansregular';
                        font-size: 600;
                        color: $dateClr;
                      }
                }
            } 
        } 
        .p-inputtext{
            font-size: 11px;
            height: 24px;
            padding: 0px 7px;
            &:focus:not(:disabled),
            &:hover:not(:disabled){
                +.p-datepicker-trigger{
                    border-color:#3c8dbc;
                }
            }
            &::placeholder{
                font-style: italic;
            }
            &:disabled{
                background: #eeeeee;
            }
        }
        .p-datepicker-trigger{
            background: #fff;
            border-color: #ced4da;
            border-left: 0px;
            height: 24px;
            width: 24px;
            .icon{
                color: $iconColor;
            }
            &:disabled{
                background: #eeeeee;
            }
        }
    }
}